{% extends "layout.njk" %}

{% block content %}
<section class="content-wrapper">
  {% if welcome_heading %}
    <h2>{{ welcome_heading }}</h2>
  {% endif %}

  {% if intro_text %}
    <div class="intro-text">
      {{ intro_text | safe }}
    </div>
  {% endif %}

  {% for group in groups %}
    <h3>{{ group.group_title }}</h3>
    <div class="gallery-group">
      {% for image in group.images %}
        <img 
		  src="/images/uploads/thumbs/{{ image.image }}-thumb.jpg"
          data-full="/images/uploads/full/{{ image.image }}-full.jpg"
          alt="{{ image.alt | default(image.caption) }}" 
          data-group="{{ group.group_title | slug }}" 
          data-caption="{{ image.caption }}" 
          onclick="openLightbox(this)" />
      {% endfor %}
    </div>
  {% endfor %}
</section>

<!-- Lightbox HTML -->
<div id="lightbox" class="lightbox" onclick="closeLightbox()">
  <span class="close">&times;</span>
  <div class="lightbox-content" id="lightbox-img-container">
    <img id="lightbox-img" src="" alt="" />
    <div id="lightbox-caption" class="lightbox-caption"></div>
  </div>
  <a class="prev" onclick="event.stopPropagation(); changeImage(-1)">&#10094;</a>
  <a class="next" onclick="event.stopPropagation(); changeImage(1)">&#10095;</a>
</div>
{% endblock %}