{% extends "layout.njk" %}

{% block content %}
  <section class="thank-you-page">
    <h1>Thank you!</h1>
    <p>Your message has been received. We'll get back to you very shortly.</p>
    <a href="/" class="button">Return to Homepage</a>
  </section>
{% endblock %}